{% extends "base.html" %}

{% load static weather_tags %}


{% block title %}Not found &#x1F916; &#183; {{ block.super }}{% endblock %}


{% block description %}We're sorry, but the page you were looking for could not be found.{% endblock %}


{% block og_title %}Not found &#x1F916;{% endblock %}

{% block og_image %}http{% if request.is_secure %}s{% endif %}://{{ request.site.domain }}{% static 'img/og/error.png' %}{% endblock %}

{% block og_description %}We're sorry, but the page you were looking for could not be found.{% endblock %}


{% block content_container %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 offset-md-3">

            <h1 class="text-center">Not found &#x1F916;</h1>

            <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 1rem">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/itYFTh8hPfA?rel=0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>
{% endblock %}