<!DOCTYPE html>
{% spaceless %}
{% load i18n static weather_tags %}

<html lang="{% get_current_language as language %}{{ language }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="{% block description %}{{ request.site.name }} allows a user to search, text, or call for the weather conditions.{% endblock %}">
    <meta name="google-site-verification" content="bwYhrNis1nSwt2xYOuqLvlTJH8N5j6isQH4rVnvyLgg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{ request.site.name }}">
    <link rel="apple-touch-icon" href="{% static 'img/touch-icon-iphone.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/touch-icon-ipad.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/touch-icon-iphone-retina.png' %}">
    <link rel="apple-touch-icon" sizes="167x167" href="{% static 'img/touch-icon-ipad-retina.png' %}">
    <link rel="stylesheet" href="{% static 'css/emojiweather.min.css' %}">
    <link rel="shortcut icon" href="{% block favicon %}{% static 'img/favicons/default.ico' %}{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="{% get_current_language as language %}{{ language }}">
    <meta property="og:site_name" content="{{ request.site.name }}">
    <meta property="og:title" content="{% block og_title %}{{ request.site.name }}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{{ request.site.name }} allows a user to search, text, or call for the weather conditions.{% endblock %}">
    <meta property="og:image" content="{% block og_image %}http{% if request.is_secure %}s{% endif %}://{{ request.site.domain }}{% static 'img/og/default.png' %}{% endblock %}">
    <meta property="og:url" content="http{% if request.is_secure %}s{% endif %}://{{ request.site.domain }}{{ request.get_full_path }}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>

{% comment %}
<div class="container-fluid" style="padding:0">
    <div class="row no-gutters">
        <div class="col" id="map"></div>
    </div>
</div>
{% endcomment %}

<div class="masthead bg-primary">
    <div class="container">
        <div class="row">
            <div class="col">

                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a href="{% url 'home' %}" class="navbar-brand">{{ request.site.name }}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {% block home_active %}{% endblock %}"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                            <li class="nav-item {% block search_active %}{% endblock %}"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                            <li class="nav-item {% block sms_active %}{% endblock %}"><a class="nav-link" href="{% url 'sms' %}">Text</a></li>
                            <li class="nav-item {% block voice_active %}{% endblock %}"><a class="nav-link" href="{% url 'voice' %}">Call</a></li>
                            <li class="nav-item {% block about_active %}{% endblock %}"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</div>

<main class="site-main">
    {% block content_container %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
</main>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                {% block footer %}
                <p class="small text-center text-muted">&copy; {% now "Y" %} <a href="{% url 'home' %}">{{ request.site.name }}</a> &#183; <a href="{% url 'search' %}">Search</a> &#183; <a href="{% url 'sms' %}">Text</a> &#183; <a href="{% url 'voice' %}">Call</a></p>
                {% endblock %}
            </div>
        </div>
    </div>
</footer>

{# <script src="https://maps.googleapis.com/maps/api/js?key={% get_google_maps_key as key %}{{ key }}"></script> #}
<script src="{% static 'js/emojiweather.min.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
{% endspaceless %}