[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
django-heroku = "*"
django-ipware = "*"
django-widget-tweaks = "*"
geoip2 = "*"
gunicorn = "*"
python-dateutil = "*"
requests = "*"
twilio = "*"
ua-parser = "*"

[requires]
python_version = "3.7"
