[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dj-database-url = "*"
django = "*"
django-debug-toolbar = "*"
django-ipware = "*"
django-widget-tweaks = "*"
gunicorn = "*"
psycopg2 = "*"
pygeoip = "*"
python-dateutil = "*"
requests = "*"
twilio = "*"
ua-parser = "*"
whitenoise = "*"
