{% extends "base.html" %}

{% load i18n staticfiles widget_tweaks weather_tags %}


{% block title %}{% if results.geocode %}{{ results.geocode.formatted_address }}{% else %}Search{% endif %} &#183; {{ block.super }}{% endblock %}


{% block favicon %}{% if results.weather %}{% with 'img/favicons/'|add:results.weather.currently.icon|add:'.ico' as favicon %}{% static favicon %}{% endwith %}{% else %}{{ block.super }}{% endif %}{% endblock %}


{% block description %}{% if results.geocode and results.weather %}{% with results.weather.currently.icon|weatherify as icon %}{{ icon.html|safe }}{% endwith %} {{ results.weather.currently.temperature|roundify }}&#176; {{ results.weather.currently.summary|lower|capfirst }} at {{ results.geocode.formatted_address }}{% elif results.error %}Beep boop. &#x1F916; {{ results.error }}{% else %}{{ block.super }}{% endif %}{% endblock %}


{% block og_title %}{% if results.geocode and results.weather %}{{ results.weather.currently.temperature|roundify }}&#176; at {{ results.geocode.formatted_address }}{% elif results.error %}Search error{% else %}Search{% endif %}{% endblock %}

{% block og_image %}{% if results.weather or results.error %}http{% if request.is_secure %}s{% endif %}://{{ request.site.domain }}{% if results.weather %}{% with 'img/weather/'|add:results.weather.currently.icon|add:'.png' as touchicon %}{% static touchicon %}{% endwith %}{% elif results.error %}{% static 'img/og/error.png' %}{% endif %}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block og_description %}{% if results.geocode and results.weather %}{% with results.weather.currently.icon|weatherify as icon %}{{ icon.html|safe }}{% endwith %} {{ results.weather.currently.temperature|roundify }}&#176; {{ results.weather.currently.summary|lower|capfirst }} at {{ results.geocode.formatted_address }}{% elif results.error %}Beep boop. &#x1F916; {{ results.error }}{% else %}{{ block.super }}{% endif %}{% endblock %}


{% block extra_head %}
    {% if results.geocode and results.weather %}
    <meta name="ICBM" content="{{ results.weather.latitude }}, {{ results.weather.longitude }}">
    <meta name="geo.position" content="{{ results.weather.latitude }};{{ results.weather.longitude }}">
    <meta name="geo.region" content="{% with results.geocode.address_components|flagify as flag %}{{ flag.code }}{% endwith %}">
    <meta name="geo.placename" content="{{ results.geocode.formatted_address }}">
    {% endif %}
{% endblock %}


{% block search_active %}active{% endblock %}


{% block content_container %}
{% strip %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">

            {% if results.weather.timezone %}
                {% get_holidays results.weather.timezone as holidays %}
                {% if holidays %}
                {% for holiday in holidays %}
                <div class="alert alert-primary text-center" role="alert" style="background-color: rgba(204, 229, 255, .5); border: 0">
                    {{ holiday.greeting|title }} {{ holiday.name|curlify }} {{ holiday.html|safe }}
                </div>
                {% endfor %}
                {% endif %}
            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            {% if results.geocode and results.weather %}
                <h1 class="text-center display-1">
                    {% with results.weather.currently.icon|weatherify as icon %}
                    {{ icon.html|safe }}{% endwith %}
                    {{ results.weather.currently.temperature|roundify|minusify }}&#176;
                </h1>
            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">

            {% if results.geocode and results.weather %}
                <p class="text-center" style="font-size: 2rem">
                    {{ results.weather.currently.summary|lower|capfirst }}
                </p>
                <p class="text-center">
                    {% with results.weather.daily.data.0.moonPhase|moonify as moon %}
                    {{ moon.name }} {{ moon.html|safe }}
                    {% endwith %}
                </p>
                <p class="text-center">
                    {% with results.geocode.address_components|flagify as flag %}
                    <a href="https://maps.google.com/?q={{ results.geocode.formatted_address|quote_plus }}">{{ results.geocode.formatted_address }}</a>
                    {{ flag.html|safe }}
                    {% endwith %}
                </p>
                <p class="text-center js-moment">{% now "F jS, Y, g:i:s A" %}</p>
                <p class="text-center">{{ results.weather.daily.summary }} &#x1F321;&#xFE0F;</p>
            {% elif results.error %}
                <h1 class="text-center">{{ query }} not found</h1>
                <p class="text-center">Beep boop. &#x1F916; {{ results.error }}</p>
            {% else %}
                <h1 class="text-center">Search</h1>
            {% endif %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger text-muted">
                {% for error in form.non_field_errors %}
                    <small>{{ error|safe }}</small>
                {% endfor %}
            </div>
            {% endif %}

            <form method="get" action="{% url 'search' %}" class="js-search{% if results.weather %} js-search-success{% endif %}">
                {% for field in form %}
                    {% if field.is_hidden %}
                    {{ field }}
                    {% else %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text-muted"><small>{{ error|safe }}</small></p>
                            {% endfor %}
                        {% endif %}
                        <p class="{% if field.html_name == 'q' %}sr-only{% endif %}"><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
                        {{ field }}
                        {% if field.help_text %}
                            <p class="form-text">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
                <p><button type="submit" class="btn btn-primary btn-block btn-lg">{% get_os as os %}{% if os == 'Android' %}<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="icon-location"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 8c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm8.9 3c-.5-4.2-3.8-7.5-7.9-7.9V1h-2v2.1c-4.2.5-7.5 3.8-7.9 7.9H1v2h2.1c.5 4.2 3.8 7.5 7.9 7.9V23h2v-2.1c4.2-.5 7.5-3.8 7.9-7.9H23v-2h-2.1zM12 19c-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7-3.1 7-7 7z" class="path"/></svg>{% else %}<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="icon-location"><path class="path" d="M23 0L0 11h12v12z"/></svg>{% endif %} Search</button></p>
                <p><button type="button" class="js-geolocate btn btn-outline-primary btn-block btn">Or geolocate me</button></p>
            </form>

        </div>
    </div>
</div>
{% endstrip %}
{% endblock %}


{% block scripts %}
{% strip %}
{{ block.super }}
<script>
    {% if results.weather.timezone %}
    EmojiWeather.insertDateTime('{{ results.weather.timezone }}');
    {% endif %}
    {% if results.weather.latitude and results.weather.longitude %}
    // EmojiWeather.drawMap('#map', {{ results.weather.latitude }}, {{ results.weather.longitude }});
    {% endif %}
</script>
{% endstrip %}
{% endblock %}