{% extends "base.html" %}

{% load staticfiles weather_tags %}


{% block title %}Call &#183; {{ block.super }}{% endblock %}


{% block voice_active %}active{% endblock %}


{% block content_container %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 offset-md-3">

            <h1 class="text-center">Call for the weather</h1>

            <p><a href="tel:1-312-818-3823" class="btn btn-block btn-primary btn-lg">(312) 818-3823</a></p>

            <p class="text-center"><a href="{% url 'home' %}" class="btn btn-outline-primary">Back to home</a></p>

        </div>
    </div>
</div>
{% endblock %}