{% extends "base.html" %}

{% load static utils_tags %}


{% block title %}Call &#183; {{ block.super }}{% endblock %}


{% block voice_active %}active{% endblock %}


{% block content_container %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <h1 class="text-center">Call</h1>

            <p><a href="tel:1-312-818-3823" class="btn btn-block btn-primary btn-lg">(312) 818-3823</a></p>

            <video poster="{% static 'img/screenshot-voice.png' %}" controls class="img-fluid img-thumbnail">
                <source src="https://s3.amazonaws.com/emojiweather/demo-voice.mp4" type="video/mp4">
                <p><a href="https://s3.amazonaws.com/emojiweather/demo-voice.mp4">Download the video</a>.</p>
            </video>
            <p></p>

        </div>
    </div>
</div>
{% endblock %}