h1 {
    margin: 1rem 0;
}

.navbar {
    padding: .5rem 0;
}

button {
    cursor: pointer;
}

svg {
    vertical-align: middle;
}

.icon-location {
    vertical-align: middle;
}

.icon-location .path {
    fill: #fff;
}
