<!DOCTYPE html>

{% load i18n staticfiles %}

<html lang="{% get_current_language as language %}{{ language }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% block favicon %}{% static 'img/favicons/default.ico' %}{% endblock %}">
</head>
<body>

<div class="masthead bg-primary">
    <div class="container">
        <div class="row">
            <div class="col">

                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a href="{% url 'home' %}" class="navbar-brand">{{ request.site.name }}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {% block home_active %}{% endblock %}"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                            <li class="nav-item {% block search_active %}{% endblock %}"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                            <li class="nav-item"><a class="nav-link" href="sms:1-312-818-3823">Text</a></li>
                            <li class="nav-item"><a class="nav-link" href="tel:1-312-818-3823">Call</a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</div>

<main class="site-main">
    {% block content_container %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
</main>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                {% block footer %}
                <p class="small text-center text-muted">&copy; {% now "Y" %}. <a href="{% url 'home' %}">{{ request.site.name }}</a>.</p>
                {% endblock %}
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/moment-timezone-with-data-2012-2022.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>