{% extends "base.html" %}

{% load i18n staticfiles weather_tags %}


{% block title %}About &#183; {{ block.super }}{% endblock %}


{% block about_active %}active{% endblock %}


{% block content_container %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4 offset-lg-2">

            <p><strong>Emoji Weather</strong> is a website that allows a user to search, text, or call to receive the weather conditions.</p>

            <h2>How does it work?</h2>

            <p>A user texts or calls a phone number that is registered with <a href="https://www.twilio.com/">Twilio</a>. Twilio transforms the text or voice data into an <a href="https://en.wikipedia.org/wiki/POST_(HTTP)">HTTP POST request</a> and sends it to a publicly accessible URL of the website.</p>

            <p>The body of the request is converted from a messy search query into a proper geographic location with <a href="http://docs.python-requests.org/">Requests</a> and Google&rsquo;s <a href="https://developers.google.com/maps/documentation/geocoding/start">Geocoding API</a>. The location&rsquo;s latitude and longitude is sent to the <a href="https://darksky.net/dev/">Dark Sky API</a>, which returns the weather conditions. The website generates a <a href="https://www.twilio.com/docs/api/twiml">TwiML response</a> for Twilio, which then transforms it into a text message for the user. Searching is handled similarly but makes requests directly to Google and Dark Sky.</p>

            <p>The website was written in the <a href="https://www.python.org/">Python</a> programming language with the <a href="https://www.djangoproject.com/">Django</a> web framework. The front-end code was written with the <a href="http://getbootstrap.com/">Bootstrap</a> library. The code is available on <a href="https://github.com/richardcornish/emojiweather">GitHub</a>. The website is hosted on <a href="https://www.heroku.com/">Heroku</a>.</p>

            <h2>What is the point of this?</h2>

            <p>I made it for fun.</p>
            <p></p>
        </div>
        <div class="col-md-6 col-lg-4">
            <figure class="figure">
                <a href="{% url 'search' %}"><img src="{% static 'img/about-search.png' %}" class="figure-img img-fluid img-thumbnail" alt="Web search screenshot"></a>
                <figcaption class="figure-caption">Web search</figcaption>
            </figure>
            <figure class="figure">
                <a href="{% url 'sms' %}"><img src="{% static 'img/about-sms.png' %}" class="figure-img img-fluid img-thumbnail" alt="Text message screenshot"></a>
                <figcaption class="figure-caption">Text message</figcaption>
            </figure>
            <figure class="figure">
                <a href="{% url 'voice' %}"><img src="{% static 'img/about-voice.png' %}" class="figure-img img-fluid img-thumbnail" alt="Phone call screenshot"></a>
                <figcaption class="figure-caption">Phone call</figcaption>
            </figure>
        </div>
    </div>
</div>
{% endblock %}