{% if form.non_field_errors %}
<div class="alert alert-danger text-muted">
    {% for error in form.non_field_errors %}
        <small>{{ error|safe }}</small>
    {% endfor %}
</div>
{% endif %}
<form method="get" action="{% url 'search' %}">
    {% for field in form %}
        {% if field.is_hidden %}
        {{ field }}
        {% else %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="text-muted"><small>{{ error|safe }}</small></p>
                {% endfor %}
            {% endif %}
            <p class="{% if field.html_name == 'q' %}sr-only{% endif %}"><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
            {{ field }}
            {% if field.help_text %}
                <p class="help-block">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block btn-lg">Search</button>
</form>