{% extends "base.html" %}

{% load staticfiles widget_tweaks weather_tags %}


{% block title %}{% if results.geocode %}{{ results.geocode.formatted_address }}{% else %}Search{% endif %} &#183; {{ block.super }}{% endblock %}


{% block favicon %}{% if results.weather %}{% with 'img/favicons/'|add:results.weather.currently.icon|add:'.ico' as favicon %}{% static favicon %}{% endwith %}{% else %}{{ block.super }}{% endif %}{% endblock %}


{% block search_active %}active{% endblock %}


{% block content_container %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% if results.error %}
            <h1 class="text-center">Location not found</h1>
            <p class="text-center">{{ results.error }}</p>
            {% endif %}
            {% if results.geocode and results.weather %}
            <h1 class="text-center display-1">
                {% with results.weather.currently.icon|weatherify as icon %}
                {{ icon.html|safe }}
                {% endwith %}
                {{ results.weather.currently.temperature|floatformat:"0" }}&#176;
            </h1>
            <p class="text-center" style="font-size: 2rem">
                {{ results.weather.currently.summary|lower|capfirst }}
            </p>
            <p class="text-center">
                {% with results.geocode.address_components|flagify as flag %}
                {{ flag.html|safe }}&nbsp;
                {% endwith %}
                {{ results.geocode.formatted_address }}
            </p>
            <p class="text-center">
                {% with results.weather.daily.data.0.moonPhase|moonify as moon %}
                {{ moon.html|safe }}&nbsp;&nbsp;{{ moon.name }}
                {% endwith %}
            </p>
            <p class="text-center">{{ results.weather.daily.summary }}</p>
            {% else %}
            <h1 class="text-center">Search</h1>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% include 'search/form.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>&nbsp;</p>
        </div>
    </div>
</div>
{% endblock %}