{% extends "base.html" %}

{% load staticfiles widget_tweaks weather_tags %}


{% block title %}Search {% if query %}&#8220;{{ query }}&#8221;{% endif %} &#183; {{ block.super }}{% endblock %}


{% block search_active %}active{% endblock %}


{% block content_container %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Search</h1>
            {% include 'search/form.html' %}
        </div>
        {% if results %}
        <div class="col-md-6">
            <h1 class="h2">{{ results.geocode.formatted_address }} {% with results.geocode.address_components|flagify as flag %}{{ flag.unicode }}{% endwith %}</h1>
            <h2 class="h1">{{ results.weather.currently.temperature|floatformat:"0" }}&#176;F {{ results.weather.currently.icon|iconify }} {{ results.weather.currently.summary|lower|capfirst }}</h2>
            {% with results.weather.daily.data.0.moonPhase|moonify as moon %}
            <h3>{{ moon.icon }} {{ moon.name }}</h3>
            {% endwith %}
            <h3>{{ results.weather.daily.summary }}</h3>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>
</div>
{% endblock %}