{% extends "base.html" %}

{% load staticfiles widget_tweaks weather_tags %}


{% block title %}{% if results.geocode.formatted_address %}{{ results.geocode.formatted_address }}{% else %}Search{% endif %} &#183; {{ block.super }}{% endblock %}


{% block favicon %}{% if results.weather %}{% with 'img/favicons/'|add:results.weather.currently.icon|add:'.ico' as favicon %}{% static favicon %}{% endwith %}{% else %}{{ block.super }}{% endif %}{% endblock %}


{% block search_active %}active{% endblock %}


{% block content_container %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Search</h1>
            {% include 'search/form.html' %}
        </div>
        {% if results %}
        <div class="col-md-6">
            <h1>
                {{ results.weather.currently.temperature|floatformat:"0" }}&#176;F
                {% with results.weather.currently.icon|weatherify as icon %}
                {{ icon.html|safe }}
                {% endwith %}
                {{ results.weather.currently.summary|lower|capfirst }}
            </h1>
            <p>
                {% with results.geocode.address_components|flagify as flag %}
                {{ flag.html|safe }}
                {% endwith %}
                {{ results.geocode.formatted_address }}
            </p>
            <p>
                {% with results.weather.daily.data.0.moonPhase|moonify as moon %}
                {{ moon.html|safe }} {{ moon.name }}
                {% endwith %}
            </p>
            <p>{{ results.weather.daily.summary }}</p>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>
</div>
{% endblock %}